<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.danielcwilson.plugins.iframer"
    version="0.1.0">
  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>
  <name>Iframe Links Plugin</name>
  <description>Utility to allow links and redirects inside of iframes to kick out to the system browser (instead of replacing the app in the main Cordova WebView</description>
  <author>Daniel C. Wilson</author>
  <license>MIT License</license>
  <js-module src="www/Iframer.js" name="Iframer">
    <clobbers target="iframer" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Iframer">
        <param name="ios-package" value="IframerPlugin" />
      </feature>
    </config-file>

    <header-file src="ios/IframerPlugin.h" />
    <source-file src="ios/IframerPlugin.m" />
  </platform>
</plugin>
